.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:90vh
}
.board{
    display: grid;
    grid-template-columns:repeat(4,4.8vw);
    grid-template-rows: repeat(6,4.8vw);
    /* gap: 0.2vw; */
    background-color: black;
}
#screen{
    grid-column-start: 1;
    grid-column-end: 5;
    border: 3px solid rgb(178, 191, 178);
    border-radius: 12px;
    margin: 12px 6px 6px ;
    padding: 5px;
    width:17vw;
    text-align: right;
    /* height: 4vh; */
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 1px 1px 2px;
}
.box button{
    color: rgb(15, 14, 14);
    width: 3vw;
    height: 3vw;
    margin: 5px;
    border-radius: 0.5vw;
}
.op button{
    background-color: rgb(234, 255, 0);
    color: rgb(1, 7, 7);
}
.calc{
    grid-row-start: 5;
    grid-row-end: 9;
    grid-column-start: 4;
}
.calc button{
    background-color: rgb(57, 231, 37);
    color: rgb(8, 2, 2);
    height:7vw;
}